  <% if logged_in? %>
      
        <script id="bootstrap-current-user" type="text/javascript">
            window.currentUser = <%=render("api/users/user.json.jbuilder",
              user: current_user).html_safe%>
        </script>

  <% end %>

<main id ='root'>
  <link rel="shortcut icon" type="image/x-icon" href="https://virtualshop-dev.s3-us-west-1.amazonaws.com/virtula-shop-logo.png"/>
  <link rel="icon" href="https://virtualshop-dev.s3-us-west-1.amazonaws.com/virtula-shop-logo.png">


 </main>
 