.message{
  font-family:cursive;
  font-style: italic;
  font-size: 45px;
   color: rgb(29, 210, 255);
}



.animation{
  background: linear-gradient(135deg,#ffbb00,#b21b1b);
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}





