.message{
  font-style: italic;
  font-size: 46px;
   color: rgb(252, 151, 0);
   margin-left:10%;
   margin-bottom:10%;
   background-color: rgba(127, 187, 255, 0.247);
   
   
}



.animation{
  
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/slide-me-3f77d.appspot.com/o/living-room-wall-art-ideas-featured-homebnc.jpg?alt=media&token=ad36fd06-40c8-440c-a2cf-348e8a47ee1b);
}





