.message{
  font-family:cursive;
  font-style: italic;
  font-size: 45px;
   color: rgba(213, 216, 216, 0.952);
}



.animation{
  
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/slide-me-3f77d.appspot.com/o/living-room-wall-art-ideas-featured-homebnc.jpg?alt=media&token=ad36fd06-40c8-440c-a2cf-348e8a47ee1b);
}





