.Navbar{
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px -2px rgb(189, 186, 186);
    background-color: rgb(214, 212, 208);
    border-bottom: solid rgb(189, 187, 187);
    
}

.Category{
    display: block;
    height:24px;
    width:84px;
    color: rgb(7, 6, 7);
    margin:8px;
    text-align: center;
    
}
.Category:hover{ 
 
 color: white;
}