// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.productIndex {
    display:flex-inline; 

}
.outer-most-box {
    display:block;
    max-height:300px; 
    max-width:300px;
}



.image-holder-box {
   min-height: 100px;
   min-width: 100px;
   margin: 1px;
 
}

.name-of-pic {
    display: block;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(2, 2, 2);
    margin: 3px;
    text-align: center;
}

.pic-price-holder {
  display:inline-flex;
 text-align: center;
 color:rgb(8, 8, 8);
}


.price-of-pic{
   display: block;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(2, 2, 2);
    margin: 3px;
    text-align: center;
}


.all-products {
    display:inline-flexbox;
    width: 100%;;


}
.fixed {
    display:block;
    
}

