.No-item{
    display: block;
    font-size: 35px;
    color: rgb(0, 0, 0); 
    background-color: rgb(8, 180, 80);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.image-order1{
    height:50px; 
    width:50px;
}
.image-order {
    display:block;
    height:120px;
    width:120px;
    margin:10px;
    
}
.order-quantity{
    display:block;
    height: 40px;
    width:150px;
    
   
}
.text-name {
font-size: 17px;
color:rgb(39, 29, 29);
margin:4px;


font-family: 'Times New Roman', Times, serif; 
}
.text-price {
background-color: rgb(253, 207, 1);
margin:6px;  
border-radius: 9px;
text-align: center;
color:rgb(235, 0, 0);
}
.text-quantity{
background-color: rgb(253, 207, 1);
margin:6px;
border-radius: 8px;
text-align: center;
color:rgb(235, 0, 0);
}
.outer-outer-box-order{
    display:block;
    border-bottom: 4px rgb(196, 192, 192);

}
.outer-box-order{
    display:block;
    height:300px;
    width:300px;
    margin:8px;
    background-color: rgb(255, 255, 255);
   
}

.cart{
    display:block;
    box-shadow: 2px 4px 10px rgb(228, 225, 225);
    width:800px;
    margin-left:60%;
    background-color: rgb(255, 255, 255);
    border-bottom:2px gainsboro solid ;
}

.items-in-cart {
    display:block;
    font-size:20px; 
    margin:10px; 

}
.main-cart-page{
    display:block;
    height:1000px;
    width:200%;
    align-content:center;
    background-color: rgb(255, 240, 240);
   
}
.under-main-cart{
    display:block;
    height:750px;
    width:850px;
    
}
.small-name-pic{
    display:flex;
}
.line {
  height:2px; 
  width:60%;
  background-color: rgb(223, 221, 221);
  box-shadow: 1px 2px 7px rgb(185, 183, 183);
  margin:3px;
}


.checkout-container{
    display:block;
   
}

.paying-method {
    display: inline-block
}

.icon-holder{
    display:block; 
    height:20px; 
    width:20px;
}